<!DOCTYPE html>
<html>
<head>


<style>
a:hover{
  cursor:pointer;
}
</style>
<title>FontMan- Customize and Change Fonts For Your Shopify Store</title>
<meta name="description" content= "FontMan is font customization app for changing and adding custom and google fonts on your shopify store. You can customize your store for best appearance." />
<meta name="robots" content= "index, follow">
<meta name="google-site-verification" content="wGBSnFfA2aHfbQd9_5s5VxkIdnxKfff18HllyxhZbnw" />
  <style type="text/css">

  .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
    body {
    top: 0px !important;
    }

    .text-style{
      color:white;
    }


         .btn-gradient {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
         .btn-gradient {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-gradient:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            border: 2px solid black;
          }



  </style>
  <title>{% block title %}{% endblock %}</title><!--
  <link href="/static/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /> -->

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- ADDED FONTS & EVERYTHING HERE -->
  <link href="/static/css/fontpicker.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


  <link rel="icon" href="/static/images/fmlogo.png">

  <script src="/static/js/fontpickerjs.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">


  <!-- ENDS HERE -->
</head>
<body style="font-family: 'Poppins', sans-serif;">


  <!--NAVIGATION GOES HERE -->
  <nav id="skeletone" class="navbar navbar-expand-lg" style="background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );">
  <a class="navbar-brand text-style" href="{% url "root_path" %}">FontMan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-style" target="_blank" href="https://www.youtube.com/channel/UCLu4YOu-pwQwjhbuCR-M7Ow">How To Use?</a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link text-style" href="#">About</a>
      </li>
      -->


      <li class="nav-item dropdown">
        <a class="nav-link text-style dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-style" target="_blank" href="/faq">FAQ</a>
          <!--<a class="dropdown-item text-style" target="_blank" href="/pricing">Pricing</a>-->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-style" target="_blank" href="/privacy-policy">Privacy Policy</a>
          <a class="dropdown-item text-style"  target="_blank" href="/contact-us">Contact Us</a>

        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
        {% if current_shop %}
          <span  style="color: white;"> Current Shop: </span> &nbsp;&nbsp;&nbsp;<a href="https://{{ current_shop.domain }}" style="color: white;">{{ current_shop.domain }}</a> <span>&nbsp;</span>
          <a class="btn btn-gradient" href="{% url "shopify_app_logout" %}"> &nbsp;logout</a>
  {% endif %}
    </form>
  </div>
</nav>

<!-- ALERT HERE -->
{% comment %} {% if active_flag == 'INACTIVE' and not messages %} {% endcomment %}

<!--<div class="alert" style="color:white;border-radius:0px;background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(77,97,252,0.63) 0%, rgba(77,97,252,1) 90% );" role="alert">-->
<!--    <strong>We are always happy to help you. message us if you have any difficulties in setting fonts. </strong>-->
<!--</div>-->

{% comment %} {% endif %} {% endcomment %}

<!-- ENDS HERE -->

{% if active_flag == 'INACTIVE' and not messages %}
<div class="alert alert-info" role="alert">
    <strong>🚀 Woo hoo ! 🤩 Upgrade  To Premium  For Adding Unlimited Custom  Fonts  and  Special  Customizations .  Avail  at just at <strike>$10</strike> $2.99 👇 Upgrade Now To Avail Premium Features</strong>
</div>
{% endif %}



    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">
          <strong>{{ message }}</strong>
      </div>
      {% endfor %}
    {% endif %}

    <div id="bodyLoader">
      <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 empty big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ph-item">
            <div class="ph-col-3">
              <div class="ph-picture"></div>
            </div>
            <div class="ph-col-3">
              <div class="ph-picture"></div>
            </div>
            <div class="ph-col-3">
              <div class="ph-picture"></div>
            </div>
            <div class="ph-col-3">
              <div class="ph-picture"></div>
            </div>
            </div>
          </div>
        </div>
  </div>


    <div id="main" style="display: none;" class="container mt-4">
      {% block content %}{% endblock %}
    </div>




  <script type="text/javascript">
    console.log("Wait till load");
    $(document).ready(function(){
      $('#main').css('display','block');
      $('#bodyLoader').css('display','none');
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SN6PLZ87FQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SN6PLZ87FQ');
</script>


<!-- Hotjar Tracking Code for www.fontman.in -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2239411,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  {% block window_load_script %}


  {% endblock %}


{% block footer %}


  <!-- FOOTER -->


      <!--<footer class="pt-4 my-md-5 text-center pt-md-5 border-top">-->
      <!--  <div class="row">-->
      <!--    <div class="col-12 col-md-3">-->
      <!--    </div>-->
      <!--    <div class="col-3 col-md-3">-->
      <!--      <h5>Company</h5>-->
      <!--      <ul class="list-unstyled text-small">-->
      <!--        <li><a class="text-muted" href="/faq">FAQ</a></li>-->
      <!--        <li><a class="text-muted" href="/pricing">Pricing</a></li>-->
      <!--        <li><a class="text-muted" href="/privacy-policy">Privacy Policy</a></li>-->
      <!--        <li><a class="text-muted" href="/contact-us">Contact Us</a></li>-->
      <!--      </ul>-->
      <!--    </div>-->
      <!--    <div class="col-3 col-md-3">-->
      <!--      <h5>Features</h5>-->
      <!--      <ul class="list-unstyled text-small">-->
      <!--        <li><a class="text-muted" href="#">Unlimited Google Fonts To Store</a></li>-->
      <!--        <li><a class="text-muted" href="#">Unlimited Custom Fonts To Store</a></li>-->
      <!--        <li><a class="text-muted" href="#">Unlimited Custumizations Available</a></li>-->
      <!--        <li><a class="text-muted" href="#">24/7 Live Support</a></li>-->
      <!--      </ul>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</footer>-->



  <!-- ENDS HERE -->



{% endblock %}

<script src="//code.tidio.co/dgl3gvndaf8ih3bqb3eyqcvjcy97okdd.js" async></script>

</body>
</html>
