{% extends "base.html" %}
{% block content %}



<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-5">
			<div class="card">
			  <div class="card-body">
			  
			  	<div class="row">
			  		<div class="col-md-12">
			  			
			    <h1 class="card-title text-center">Install FontMan</h1>
			    <br/>
			    <h5 class="card-text">FontMan Let's You Customize Store Fonts !</h5>
			  	</div>
			  	</div>  


			  	<div class="row">
			  		<div class="col-md-12 mt-4">
			  			<form action="{% url "shopify_app_authenticate" %}" method="post">
			  				{% csrf_token %}

			  	
  

			  				<div class="input-group mb-3 mt-3">
  <input type="text" id="shop" name="shop" class="form-control" placeholder="Add Store URL Here">
  <div class="input-group-append">
    <button name="commit" class="btn btn-primary" type="submit">Install</button>
  </div>
</div>


 
</form>
			  		</div>
			  	</div>


			  

			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
