<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <title>Thanks a lot for installing FontMan</title>
  </head>
  <body style="font-family: 'Karla', sans-serif;font-size: 20px;">

  	<div class="container mt-5">	
  			<div class="row">	
  					<div class="col-md-12">
  						<h5>Hey there, ✋</h5>
<br/>
<h5>
  						This is Shriniket, co-founder of <b>#1 FontMan.</b> </h5>
<br/>
<h5>
I wanted to thank you for taking the time to install and try our app. 🥳
</h5>
  					</div>		
  			</div>
  			<div class="row mt-3">
  				<div class="col-md-12">
  					<h4><b>Get Started</b></h4>
  				</div>	
  			</div>	

  			<div class="row mt-3">
  				<div class="col-md-12">
  					<h4>Here's a quick video tutorial on these topics:</h4>
  				</div>
  			</div>


  			<div class="row mt-1">
  				<div class="col-md-12">
  					<ul>
  						<li><a href="https://www.youtube.com/watch?v=wov4_pl4kYY" target="_blank">How To Add Google Fonts To Store ?</a></li>
  						<li><a href="https://www.youtube.com/watch?v=_sYZSFcavhw" target="_blank">How To Upload Custom Fonts To Store ?</a></li>
  						<li><a href="https://www.youtube.com/watch?v=jvnppwwXl3c" target="_blank">How To Add Fonts To Custom Elements On Store ?</a></li>
  					</ul>
  				</div>
  			</div>


  			<div class="row mt-3">
  				<div class="col-md-12">
  					<h5>  		<b>	Reply to this email if you have any questions about the app or if you are facing any issues.</b></h5>
  					<br/>
  					<h5>
  			We have designed the app to be extremely simple and easy to use. 

  			<br/><br/>It will only take you 2 minutes to set everything up 😀</h5>
  				</div>
  			</div>


  			<div class="row mt-3">
  				<div class="col-md-12">
  					<h5>Kind regards,<br/><br/>
<b>Shriniket Deshmukh<br/>FontMan (Lucid Design)</b> </h5>
  				</div>
  			</div>



  	</div>	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>