<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <title>Please support us :)</title>
  </head>
  <body style="font-family: 'Karla', sans-serif;font-size: 20px;">

  	<div class="container mt-5">
  			<div class="row">
  					<div class="col-md-12">
  						<h5>Hey there, ✋</h5>
<br/>
<h5>
  						This is Shriniket, co-founder of <b>#1 FontMan.</b> </h5>
<br/>
<h5>
Thank you for using our app. We are delighted to serve you 🎉
</h5>

<br/>
<h5>
	Our aim is to help e-commerce entrepreneurs like you succeed, by building easy-to-use and powerful customization tools like FontMan to grow your business.
</h5>

<br/>
<h5>
	We are a small team of just ✌️ 2 humans based out of India. And with your support, we can grow our business too
</h5>
<br/>
<h5>
	Show us your support 😍 by writing a review on the Shopify app store. I promise you it will only take a minute.
</h5>

  					</div>
  			</div>
  			<div class="row mt-4">
  				<div class="col-md-12">
  					<a href="https://apps.shopify.com/fontman-change-fonts-for-your-store??#modal-show=ReviewListingModal" target="_blank"><b>Write a review on the Shopify app store 🌟🌟🌟🌟🌟</b></a>
  				</div>
  			</div>


  			<div class="row mt-3">
  				<div class="col-md-12">
  					<h5>Kind regards,<br/><br/>
<b>Shriniket Deshmukh<br/>FontMan (Lucid Design)</b> </h5>
  				</div>
  			</div>



  	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>